---
---
{{reference}}

    {% if entry.note %}
    <b>{{entry.note}}</b>
    {% endif %}

    {% if entry.url %}
    <a href="{{entry.url}}"><button style="outline:none;">PDF</button></a>
    {% endif %}

    {% if entry.abstract %}
    <button value="{{key}}-abstract" onclick="toggleAbstract(this)" style="outline:none;">Abstract</button>
    {% endif %}

    <button value="{{key}}-bibtex" onclick="toggleAbstract(this)" style="outline:none;">BibTex</button>

    <div style="display:none" id="{{key}}-abstract">
    {{entry.abstract}}
    </div>

    <div style="display:none" id="{{key}}-bibtex">
    <pre>{{entry.bibtex}}</pre>
    </div>
